body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.asc:before {
  content: "\02193";
  margin-right: 3px;
}

.dsc:before {
  content: "\02191";
  margin-right: 3px;
}
.menu {
  display: block;
  position: absolute;
  background-color: #637b7b;
  color: #ffffff;
  padding: 5px;
  z-index: 9;
}
